/* Features Section */
.features-section {
  text-align: center;
}

.features-section-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.feature-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  flex: 0 0 100%;
  max-width: 100%;
  margin: 15px;
  border: none;
  overflow: hidden;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-img-1,
.feature-img-4 {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.feature-img-2,
.feature-img-3 {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

/* Updated to position the text below initially */
.feature-overlay {
  position: absolute;
  bottom: -100%; /* Initially hidden below */
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  transition: background 0.3s, bottom 0.3s ease-in-out; /* Animated transition for bottom */
}

.feature-card:hover .feature-overlay {
  bottom: 0; /* Move text to the center on hover */
  background: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

.feature-overlay h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-overlay p {
  font-size: 0.9rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .feature-card {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

@media (min-width: 992px) {
  .feature-card {
    flex: 0 0 23%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .feature-img {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .feature-overlay h5 {
    font-size: 1rem;
  }

  .feature-overlay p {
    font-size: 0.8rem;
  }
}
