.footer {
  height: 360px;
  background-color: yellow;
  color: black;
  /*padding: 40px 20px;*/
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.logo-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo img {
  height: 200px;
}

.logo-icon {
  width: 200px;
  height: 200px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-links li {
  font-weight: 600;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icons i {
  background-color: #1b2436;
  padding: 10px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  background-color: #2563eb;
}

hr {
  margin: 30px auto;
  width: 90%;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

footer p {
  font-size: 14px;
  color: black;
}

/* Medium devices (tablets) */
@media (max-width: 900px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    justify-content: center;
    gap: 30px;
  }

  .logo-social {
    align-items: center;
  }
}

/* Small devices (phones) */
@media (max-width: 600px) {
  .footer-links {
    flex-direction: column;
    gap: 20px;
  }

  .social-icons {
    justify-content: center;
  }
}
